source https://www.nuget.org/api/v2/

framework >= net45

# Component dependencies
nuget EventStore.Client
nuget FSharp.Control.AsyncSeq
nuget NEventStore
nuget Newtonsoft.Json

# Test dependencies
nuget Unquote
nuget xunit
nuget xunit.runner.visualstudio

# Build tools
nuget FAKE